/* main--------------- */

body {
  background: #fff;
  font-size: .9em;
  color: grey;
  font-family: 'merriweather', sans-serif;
}

form {
  width: 100%;
}

/* Header------------- */

header {
  text-align: center;
  background-color: #2e384a;
  color: white;
  font-size: .57em;
  height: 60px;
  padding-top: 10px;
  width: 100%;

}

.sub-head {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  border-bottom: 2px solid #2e384a;
  font-size: .80em;
  color: #000;
}

.sub-head p {
  border-bottom: 4px solid #2e384a;
  padding-bottom: 35px;
  color: silver;
  font-size: 1.2em;
}
/* Body--------------- */

.contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #2e384a;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-bottom: 30px;
}

.news {
  border: none;
}

.space {
  line-height: 2.5em;
}

legend {
  font-weight: Bold;
  Font-size: 1.3em;
  margin-bottom: 15px;
  color: #000;
}

button[type=submit] {
  width: 100%;
  padding: 25px 25px;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  border-width: 1px 1px 3px;
  background-color: teal;
}

/* fields------------- */


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"],
input[type="city"],
textarea,
select {
  border: none;
  border-radius: 5px;
  font-size: 1em;
  width: 90%;
  margin: 10px 0;
  padding: 15px;
  background-color: #e8eeef;
}

input:focus,
select:focus {
  border:2px solid #2e384a;
}

.zip {
  display: inline-block;
}

select {
  padding: 6px;
  height: 45px;
  border-radius: 5px;
  width: 100%;
  color: grey;
}

#bio {
  padding: 40px 35px;
  max-width: 80%
}

input::placeholder {
  color: silver;
  font-style: italic;
  text-align: right;
}

/* footer------------- */

footer {
  font-size:.6em;
  color: silver;
  font-weight: 200;
  text-align: center;
}

/* Media Q 768---------------------------------------------- */

@media (min-width: 768px) {

  form {
    max-width: 800px;
  }

  .name,
  .email,
  .tel,
  .address,
  .city,
  .state {
    justify-content: space-between;
  }

  .name label,
  .email label,
  .tel label,
  .address label,
  .city label,
  .state label,
  .zip label {
    width: 20%;
  }

  .name input,
  .email input,
  .tel input,
  .address input,
  .city input,
  .state input,
  .zip input,
  select {
    width: 75%;
  }

  #zip {
    width: 50%;
    display: inline;

  }
  /* margin fixes------------- */
  .name label {
    margin-right: 67px;
  }

  .email label {
    margin-right: 38px;
  }

  .tel label {
    margin-right: 33px;
  }

  .address label {
    margin-right: 37px;
  }

  .city label {
    margin-right: 111px;
  }

  .state label {
    margin-right: 102px;
  }

  .zip label {
    margin-right: 76px;
  }

}
